body {
    margin: 0;
    background-image: url("https://embedwistia-a.akamaihd.net/deliveries/d5ae8190f0aa7dfbe0b01f336f29d44094b967b5.webp?image_crop_resized=1280x720");
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
}

 a{
     text-decoration: none;
     color: inherit;
     opacity: 0.5;
     width:auto;
 }
 
 a:hover {
     opacity: 1;
 }

header {
    display: flex;
    justify-content:center;
    background-color: gray;
    margin:0;
}

header h1 {
    padding:2vh;
    margin:0;
}

section h2 {
    margin:0;
    padding:2vh
}

section {
    display: flex;
    flex-direction: column;
}

#yourBoards{
    opacity: 0.7;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}