
/*global*/
* {
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    background-image: url("https://embedwistia-a.akamaihd.net/deliveries/d5ae8190f0aa7dfbe0b01f336f29d44094b967b5.webp?image_crop_resized=1280x720");
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    font-size:14px;
    background-attachment: scroll;
}

input {
    border-radius: 3px;
    border:transparent;
    background-color: transparent;
}

input:hover {
    border:black;
    background-color: rgb(236, 232, 232);
}

button {
    border:none;
    background-color:rgb(236, 232, 232);
    padding:0.2rem;
    margin: 0.2rem;
    height:1.5rem;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

a{
    text-decoration: none;
}
/*global*/

/*local*/
header {
    display: flex;
    justify-content:space-between;
    background-color: rgb(179, 171, 171);
    color: white;
    position: relative;
}

.nav {
    /* width:22vw;*/
     display: flex;
     justify-content:space-between;
     align-items:center;
 }


header img {
    padding: 0.4rem;
    margin: 0.2rem;
    height: 2rem;
    width: 2rem;
}

header img:hover {
    background-color:rgb(236, 232, 232) ;
}

#menuImg {
    /* width: 1.7rem;*/
     height:1.9rem;
     background-color:rgb(179, 171, 171) ;
     cursor: pointer;
 }
 
 #menuImg:hover {
     background-color: rgb(236, 232, 232);
 }
 
 #homeImg {
    margin-top:0.4rem;
    
 }
 
 #homeImg:hover {
     background-color:rgb(236, 232, 232);
 }

 .boardImg {
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 0.2rem;
}

.boardImg:hover {
    background-color: rgb(236, 232, 232);
}

#boardImg {
    height: 2rem;
    cursor: pointer;
}

#boards {
    font-size: 1.2rem;
    background-color: transparent;
    color: black;
    border: none;
    background: none;
    padding: 0.4rem;
}

#headerInput {
    height: 1.5rem;
    background-color:rgb(236, 232, 232) ;
    display: flex;
    justify-content: center;
}

header input {
    background-color: transparent;
}

header input:hover {
    background-color: transparent;
}

header button {
    color: white;
}

header button {
    font-size: 0.8rem;
    font-weight: bold;
    padding:0.2rem;
    background-color: gray;
    border-radius: 3px;
}

header button:hover {
    background-color: rgb(177, 172, 172);
}

#searchImg {
    align-self:center;
    cursor: pointer;
    height: 1.5rem;
}

.middleBoardImg {
    display: flex;
    align-items: center;
    margin-right: 17vw;
}

#middleBoardImg {
   height:2.5rem;
   width: 2.5rem;
}

#middleBoardImg:hover {
    background-color:rgb(179, 171, 171);
}

header h1 {
    cursor: pointer;
    opacity: 0.3;
    margin-top:0;
    margin-bottom: 0;
 }
 
 header h1:hover {
    opacity: 1;
 }
/*local*/

.plusImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#plusImg {
    background-color: transparent;
    cursor: pointer;
}

#informationImg {
    cursor: pointer;
}

#bellImg {
    cursor: pointer;
}

.nameImg {
    color: black;
    border-radius: 25px;
    border:1px solid;
    padding: 0.3rem;
    background-color:orange;
    cursor: pointer;
    margin: 0.2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navFirst {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0.2rem;
}

#navBoard {
    height: 2rem;
    background-color: rgb(187, 184, 184);
    border-radius: 4px;
    padding: 0.2rem;
    margin: 0.2rem;
}

#navBoardName {
    height: 2rem;
    padding: 0.2rem;
    border-radius: 4px;
    margin: 0.2rem;
}

#navBoardName:hover  {
    background-color: rgb(187, 184, 184);
}

#starImg {
    widows: 2rem;;
    height: 2rem;
    margin-left:0.2rem;
    padding: 0.4rem;
    background-color: rgb(187, 184, 184);
    cursor: pointer;
}

.starImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem;
}


#navWorkspace {
    padding: 0.2rem;
    border-radius: 4px;
    height: 2rem;
    background-color:rgb(187, 184, 184) ;
    margin: 0.2rem;
}

#free {
    padding:0.1rem;
    font-size: 0.9rem;
    height: 2rem;
    background-color: gray;
    border-radius: 25px;
    margin: 0.8rem;
}

#navInvite {
    margin: 0.2rem;
    padding: 0.2rem;
    height: 2rem;
    background-color:rgb(187, 184, 184) ;
    border-radius: 4px;
}

.vLine {
    border-right: 2px solid rgb(187, 184, 184);
    height:2rem;
    margin: 0.2rem;
}

.teamImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    background-color: rgb(187, 184, 184);
    margin: 0.2rem;
}

#teamImg {
    width:2rem;
    height:2rem;
    padding: 0.4rem;
    margin: 0.2rem; 
}

#teamTitle {
    padding: 0.2rem;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#addedList {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 239, 239);
    align-items: center;
    width:17%;
    border-radius: 5px;
    margin: 1rem;
}

#addList {
    margin:1rem;
    background-color: transparent;
    text-align: center;
}

.createList {
    background-color: rgb(240, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width:17%;
    border-radius: 5px;
    height: auto;
}

.cards {
    margin:0.6rem;
    padding:0.5rem;
    background-color: white;
    cursor: pointer;
    display: flex;
    width:90%;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    overflow-y:show;
    overflow-x:auto;
}

.cards:hover {
    background-color:rgb(236, 232, 232);
}

.remove {
    max-height:2rem;
    padding: 0.2rem;
}

.remove:hover {
    background-color: gray;
}

#cardForm {
    width:90%;
}

.description {
    position:absolute;
    top:6vh;
    left:25vw;
    margin: auto;
    height:90vh;
    width:45vw;
    background-color:rgb(236, 232, 232);
    display: flex;
    justify-content:space-between;
    padding-left: 1vw;
    display: none;
    border-radius: 4px;
    overflow-y: scroll;
}

.description input {
    border: 0.5px solid black;
}

.description button {
    background-color: rgb(240, 239, 239);
}

.close {
    position: absolute;
    right: 1vw;
    top:2vh;
    width: 1vw;
    height: 1vh;
    opacity: 0.3;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left:0.5rem;
    content: ' ';
    height:1rem;
    width:2px;
    background-color: #333;
  }

  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  textarea {
      border: none;
  }

  #descriptionValue {
    width:30vw;
    height:20vh;
    background-color: inherit;
    border-color: black !important;
  }

.descButton {
  display:block;
  height: 2rem;
  padding: 0.4rem;
  margin: 0.2rem;
}

#boardName {
    font-weight:bold;
    cursor: pointer;
    height: 2rem;
}

#boardName:hover {
    background-color: rgb(236, 232, 232);
}

#cardForm {
    margin:0.2rem;
}

#description h2{
    opacity: 0.8;
    cursor: pointer;
    height: 2rem;
}

#innerDescriptionCardName {
    height: 2rem;
    color: inherit;
}

#description h2:hover{
    opacity: 1;
}

#description h3 {
    opacity: 0.8;
    cursor: pointer;
    height: 2rem;
}

#description h3:hover {
  opacity:1;
}

#description {
    opacity: 1;
}

#editButton {
    margin-left: 2rem;
}

#checklistDiv {
    margin:2rem;
    margin-top: 4rem;
}

.descriptionIcons {
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
  margin: 0.2rem;
}

.checklistImg {
    height:2rem;
    width:2rem;
    padding: 0.4rem;
    margin: 0.2rem;
}

#checklistDiv h4 {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:8rem;
    cursor: pointer;
}

#checklistDiv h4 button {
    background-color:rgb(236, 232, 232);
    text-align: left;
}

#checklist {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: solid;
}

#checklistAdder {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    position: absolute;
    background-color: rgb(240, 239, 239);
    height: 20vh;
    right: 0;
    display: none;
}

#checklistAdder h4 {
    margin: auto;
    margin-top: 0;
    margin-bottom: 1rem;
}

.addedChecklist {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#ChecklistAddButton {
    background-color: gray;
}

.addedChecklistTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #172b4d;
}

.checklistName {
    height: 2rem;
    padding: 0.4rem;
    margin: 0.2rem;
}

.addedChecklistTopH3 {
    display: flex;
    align-items: center;
}

#addedChecklistTopImg {
   /* order:0;*/
   align-self:center;
}

.addedChecklistTopName {
    display: flex;
    align-items: center;
}

.checkBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
}

.checkBar {
    background-color: gray;
    width:90%;
    height:0.4vh;
    display: flex;
}


.itemAdder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
}

.itemNameAdder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeItemImg {
    height: 1.5vh;
    width: 2vh;
    float: right;
}


@media all and (max-width:1000px){
    
    #addedList {
        width: 40%;
    }

    .createList {
        width: 40%;
        height: auto;
    }

    #headerInput {
        display: none;
    }

    .middleBoardImg {
        margin-right: inherit;
    }
}

@media all and (max-width:630px){
    #lists{
        flex-wrap: wrap;
    }
    #addedList {
        width: 90%;
        margin: auto;
    }
    
    #addList {
        width: 90%;
        margin: auto;
    }

    .createList {
        width: 90%;
        margin:auto;
    }

    #list {
        width: 50%;
        margin-top: 2rem;
    }

    #navFirst {
        flex-direction: column;
        align-items:stretch;
        justify-content: space-between;
        width:90%;
        margin: auto;
        text-align: center;
    }

    .vLine {
        display: none;
    }

    .starImg {
        justify-content: center;
    }

    .teamImg {
        justify-content: center;
    }
}

@media all and (max-width:400px) {
    header img {
        margin:0
    }
}